@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);

:root {

--Font-Used: 'Didact Gothic', sans-serif;

/* https://nfld99.github.io/Better-Discord/Font_List.txt */

--Font-Size: 5px ;

/* mediumxx-smallx-smallsmalllargex-largexx-largesmallerlargerlengthinitialinherit; */

--Font-Style: normal ;

/* normalitalicobliqueinitialinherit; */

--Font-Weight: 100 ;

/* normalboldbolderlighternumberinitialinherit */

--Font-Variant: normal ;

/* normalsmall-capsinitialinherit */

}

*:not([class*="hljs"]):not(code){

font-family: var(--Font-Used)!important;

font-style: var(--Font-Style)!important;

font-weight: var(--Font-Weight)!important;

font-variant: var(--Font-Variant)!important;

}

.markup:not(code) {

font-size: var(--Font-Size)!important;

}
